* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
}

img {
  width: 300px;
  height: 300px;
}

#titnot {
  display: flex;
  align-items: center;
  justify-content: center;
}

#notdest {
  background-color: red;
  font-weight: bolder;
  justify-self: center;
  font-size: 2rem;
  width: 100%;
  justify-content: center;
}

.desnot {
  font-size: 2rem;
}

.img-circle {
  width: 350px;
}

#contacto {
  background-color: lightgray;
}

i {
  font-size: 8rem;
}

#contact {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.contcont {
  background-color: lightgreen;
  width: 100vw;
  padding: 10px;
}

i {
  padding: 15px;
}

li {
  color: red;
}

#logo {
  height: 10px;
}

#tittienda {
  padding: 2vb;
}

.descri {
  font-size: 2rem;
}

.descri:hover {
  background-color: red;
}

.container {
  margin: 10px;
}

a {
  padding: 10px;
}

#contact {
  margin: 10px;
}

@media (max-width: 767px) {
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#noticias img {
  width: 100%;
  padding: 20px 5px 5px 5px;
}

@media (min-width: 768px) {
  #noticias {
    grid-area: noticias;
    display: grid;
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: 3fr 1fr 3fr 1fr;
    grid-template-areas: "noti1 noti2" "desnot1 desnot2" "noti3 noti4" "desnot3 desnot4" "noti5 noti6" "desnot5 desnot6";
  }
}
@media (min-width: 768px) {
  #contact {
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas: "icmapa ichorario" "mapa horario " "icig icfacebook" "ig facebook" "ictwitter ictiktok" "twitter tiktok" "icfono icyt" "fono yt";
  }
}
#icig {
  width: 100%;
  background-color: lightgreen;
  padding: 20px;
  grid-area: icig;
}

#icfacebook {
  width: 100%;
  background-color: lightgreen;
  padding: 20px;
  grid-area: icfacebook;
}

#icyt {
  width: 100%;
  background-color: lightgreen;
  padding: 20px;
  grid-area: icyt;
}

#ictiktok {
  width: 100%;
  background-color: lightgreen;
  padding: 20px;
  grid-area: ictiktok;
}

#ictwitter {
  width: 100%;
  background-color: lightgreen;
  padding: 20px;
  grid-area: ictwitter;
}

#icfono {
  width: 100%;
  background-color: lightgreen;
  padding: 20px;
  grid-area: icfono;
}

#ichorario {
  width: 100%;
  background-color: lightgreen;
  padding: 20px;
  grid-area: ichorario;
}

#icmapa {
  width: 100%;
  background-color: lightgreen;
  padding: 20px;
  grid-area: icmapa;
}

#mapa {
  grid-area: mapa;
  background-color: lightgreen;
}

#horario {
  grid-area: horario;
  background-color: lightgreen;
}

#ig {
  grid-area: ig;
  background-color: lightgreen;
}

#facebook {
  grid-area: facebook;
  background-color: lightgreen;
}

#twitter {
  grid-area: twitter;
  background-color: lightgreen;
}

#tiktok {
  grid-area: tiktok;
  background-color: lightgreen;
}

#fono {
  grid-area: fono;
  background-color: lightgreen;
}

#yt {
  grid-area: yt;
  background-color: lightgreen;
}

#noti1 {
  grid-area: noti1;
}

#noti2 {
  grid-area: noti2;
}

#noti3 {
  grid-area: noti3;
}

#noti4 {
  grid-area: noti4;
}

#noti5 {
  grid-area: noti5;
}

#noti6 {
  grid-area: noti6;
}

#desnot1 {
  grid-area: desnot1;
}

#desnot2 {
  grid-area: desnot2;
}

#desnot3 {
  grid-area: desnot3;
}

#desnot4 {
  grid-area: desnot4;
}

#desnot5 {
  grid-area: desnot5;
}

#desnot6 {
  grid-area: desnot6;
}

.footer {
  width: 100%;
  background: #00121b;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

h1 {
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

.footer-items p {
  color: grey;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}

h2 {
  margin: 10px 0;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.border {
  height: 2px;
  width: 40px;
  background: #ff9800;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

ul a:hover {
  color: #ff9800;
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 15px;
  width: 15px;
  margin: 20px 5px;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  transition: 0.3s;
}

.social-media i:hover {
  background: grey;
}

.footer-bottom {
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 12px;
}

@media (max-width: 768px) {
  .footer-items {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
