.descri {
    font-size: 2rem;
}

.descri:hover{
    background-color:red;
}

.container{
    margin: 10px;
}

a {
    padding: 10px;
}

#contact{
    margin: 10px;
}
@media (max-width:767px){
    #contact  {
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    }