*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

img{
    width:300px;
    height:300px;
}

#titnot{
    display: flex;
    align-items: center;
    justify-content: center;

}


#notdest {
    background-color: red;
    font-weight: bolder;
    justify-self: center;
    font-size:2rem ;
    width: 100%;
    justify-content: center;
}
.desnot{
    font-size: 2rem;
}

.img-circle {
    width: 350px;
}

#contacto {
    background-color: lightgray;
}

i{
    font-size: 8rem;
}

#contact{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.contcont{
    background-color: lightgreen;
    width: 100vw;
    padding: 10px;
}
